@media (max-width: 1680px) {
    .data-container {
        width: 60%;
    }
}

@media (max-width: 1440px) {
    .data-container {
        width: 80%;
    }
}


@media (max-width: 1280px) {
    .data-container {
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .data-container {
        width: 100%;
    }
}


@media (max-width: 576px) {
    .data-container {
        flex-direction: column;
        padding: 16px;
    }

    .list-header, .list-row {
        flex-direction: column;
    }

    .list-header, .list-row, li {
        width: 100%!important;
        border: 0;
        border-bottom: 2px solid #4B5563;
    }

    .list-row, .list-header li:nth-child(4) {
        border-bottom: none;
    }
}