@media (max-width: 1440px) {
    .app .card {
        width: 45%;
    }
}

@media (max-width: 1024px) {
    .app .card {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .app .card {
        width: 70%;
    }
}

@media (max-width: 576px) {
    .app .card {
        width: 90%;
    }
    .app .modal {
        height: 100%!important;
    }
}