.pagination {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li + li {
    margin-left: 1rem;
}
.pagination__item--active {
    background: none;
    font-weight: bold;
    border: none;
    background-color: #4B5563;
    color: #FFF;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__item--active:focus {
    outline: none;
}

.pagination .btn {
    background-color: #CCC;
    padding: 6px;
    width: 90px;
    border-radius: 5px;
    color: #FFF;
}

.pagination .btn:hover {
    background-color: #4B5563;
    transition: ease-in 200ms;
}

@media (max-width: 576px) {
    .pagination li {
        border: none
    }
    
    .pagination {
        width: 100%;
    }
}