* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body, html, #root {
  font-family: Arial, Helvetica, sans-serif;
}


.loading {
  height: 25px;
  width: 25px;
  border: 5px solid #4B5563;
  border-top: 5px solid #FFF; /* Blue */
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 576px) {
  .app {
    height: 100%!important;
  }
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #7A8994;
}